mediapipe/provisioning_profile.mobileprovision
bazel-bin
bazel-genfiles
bazel-toy-mediapipe
bazel-out
bazel-testlogs
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
.*.swp
*~
